Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
Content/AnimStarterPack/
Content/Weapon_Pack/
Content/Weapons_Kit_BuiltData.uasset
Hallucinations.sln
Hallucinations.uproject
Hallucinations.sln.DotSettings.user
